body {
    background: #0a7551;
    background: -webkit-linear-gradient(to rigth, #01271a, #0a7551);
    background: linear-gradient(to rigth, #01271a, #0a7551);
}

h1, p, a {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    text-align: center;
    line-height: .8;
    color: antiquewhite;
}

.resultado {
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    color: white;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2rem;

}

a {
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
}